
<div id="divTop">

  <p class="escrita">CAPILLUS</p>

</div>
<div><img src="../assets/Design sem nome.png" alt="logoTipo" class="logoTipo"></div>
<div id="divBottom"></div>
<div class="box">
  <div class="content">
    Fundado em 2022, o Capillus foi pioneiro em estética masculina no país. Esse segmento já é presente em vários países
    como EUA, Itália, Espanha, Alemanha, Japão, Uruguai, Chile e Argentina, entre outros. Temos como objetivo oferecer
    serviços específicos ao homem contemporâneo.
    <br>


  </div>
</div>

<div class="img">

</div>
<div class="direito">
  Todos os direitos reservados. Todos os textos, imagens, vídeos, músicas e outros materiais são protegidos por direitos autorais e outros direitos.
</div>

<div class="t2">Famosos que utilizaram nosso trabalho</div>


<div><img src="../assets/andrewPaint.png" class="atores" alt="Andrew Garfield"></div>
<div><img src="../assets/chrisEvanspaint.png" class="chris" alt="Chris Evans"></div>
<div><img src="../assets/tobeyPaint.png" class="tobey"></div>
<div><img src="../assets/tomHollandPaint.png" class="tomHolland"></div>
<div><img src="../assets/tomPaint.png" class="tomE"></div>

<div class="t3">Agenda</div>
<div>


  <table border="1" class="tabela">
    
    <thead>
      <tr>
        <th>Nome</th>
        <th>Serviço</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let cliente of fila">
        <td>{{cliente.cliente}}</td>
        <td>{{cliente.servico == 0? 'cabelo':(cliente.servico == 1? 'barba': 'combo')}}</td>
      </tr>
    </tbody>
    
  </table>
</div>